APP_NAME=template-scheduler
APP_ENV=development
APP_LOG_LEVEL=info
APP_PORT=8080
APP_READ_TIMEOUT=5s
APP_WRITE_TIMEOUT=10s
APP_IDLE_TIMEOUT=30s

DB_PRIMARY_ENABLED=false
DB_PRIMARY_DRIVER=postgres
DB_PRIMARY_DSN=postgres://postgres:postgres@localhost:5432/template_sch?sslmode=disable
DB_PRIMARY_MAX_OPEN_CONNS=10
DB_PRIMARY_MAX_IDLE_CONNS=5
DB_PRIMARY_CONN_MAX_LIFETIME=30m
DB_PRIMARY_CONN_MAX_IDLE_TIME=10m
DB_PRIMARY_PING_TIMEOUT=5s

DB_SECONDARY_ENABLED=false
DB_SECONDARY_DRIVER=mysql
DB_SECONDARY_DSN=user:password@tcp(localhost:3306)/template_sch?parseTime=true
DB_SECONDARY_MAX_OPEN_CONNS=10
DB_SECONDARY_MAX_IDLE_CONNS=5
DB_SECONDARY_CONN_MAX_LIFETIME=30m
DB_SECONDARY_CONN_MAX_IDLE_TIME=10m
DB_SECONDARY_PING_TIMEOUT=5s

SCHEDULER_LOCATION=Asia/Jakarta
SCHEDULER_ENABLED=true

EXAMPLE_TASK_SCHEDULE=*/1 * * * *
CASE_TASK_SCHEDULE=*/1 * * * *
PARSE_FILE_SCHEDULE=*/5 * * * *
# generator:task-schedule-env
